@import '../consts.scss';

.bar-root {
  background-color: #e8e8e8;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;
  border-radius: 10px;
  border: 2px solid $background-dark;
  max-width: 400px;
}

.bar {
  box-shadow: 1px 4px 5px #ccc;
  background-color: $highlight-lighty-light;
  height: 10px;
  margin-bottom: 18px;
  margin-left: -10px;
  width: 1px;
}

.currency-info {
  font-size: 12px;
}