.bar-root {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.bar {
  box-shadow: 1px 4px 5px #ccc;
  background-color: brown;
  height: 10px;
  margin-bottom: 18px;
  margin-left: -10px;
  width: 1px;
}

.currency-info {
  font-size: 12px;
}