@import './consts.scss';

a {
  text-decoration: none;
}

.root {
  background-color: $background-darky;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  text-align: left;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  padding: 10px;
  overflow: auto;
}

h1 {
  color: #E0AC62;
}

.root-header {
  margin: 0;
  color: white;
  font-size: 22vmin;
}

.root-lead {
  background-color: $background-dark;
  color: $background-light;
  margin-left: -10px;
  width: calc(100% + 20px);
}

.pre-threshold {
  color: #d0d0d0;
  font-size: 5vmin;
  margin-right: 10px;
}

pre {
  font-size: calc(2px + 2vmin);
}

.cols-container {
  display: flex;
  overflow-x: auto;

  .col {
    flex: 1;
    min-width: 300px;
    margin-right: 10px;

    h1 {
      line-height: 0.9;
      margin-top: 4vmin;
      margin-bottom: 4vmin;
    }
  }
}