a {
  text-decoration: none;
}

.root {
  background-color: white;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  text-align: left;
  font-family: poppins;
}

.root-header {
  margin: 0;
  font-size: calc(13vmin);
}

.root-lead {
  background-color: #eee;
}

pre {
  font-size: calc(2px + 2vmin);
}

main {
  display: flex;
  max-width: 800px;
}